swagger: '2.0'
info:
  title: Uber API
  description: Move your app forward with the Uber API
  version: "1.0.0"
# the domain of the service
host: api.uber.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /badges:
    get:
      summary: Badges Types
      description: |
        The Badges endpoint returns information about the *AMT_Gamification* badges
        which are available. The response includes the id, the name, the description, and the image of each badge. This response is a list of badge sorted by the id.
      tags:
        - Badges
      responses:
        200:
          description: Success, an array of badges.
          schema:
            type: array
            items:
              $ref: '#/definitions/Badge'
              
    post:
      summary: Badges Types
      description: Create a new Badge.
      responses:
        "201":
          description: Created, returns the URL to access the new badge.
          schema:
            $ref: '#/definitions/BadgeCreated'
        "401":
          description: Bad request,
                       if one of mandatory fields isn't specified,
                       if one of mandatory fields is empty (or contains only space),
                       if one of mandaory fields is more long than 45 characters.
        "409":
          description: Conflict, if badge name provided already exists.

  /badges/{id}:
    get:
      summary: Badges Types
      description: Returns the Badge which has the specified id
      parameters:
        - name: id
          in: path
          description: The id of the desired badge
          required: true
          type: string
      responses:
        "200":
          description: Found
          schema:
            $ref: '#/definitions/Badge'
        "404":
          description: Not found, if id provided don't exist
            
definitions:
  Badge:
    type: object
    properties:
      badge_id:
        type: string
        description: Unique identifier representing a specific badge.
      name:
        type: string
        description: Display name of badge.
      description:
        type: string
        description: Description of badge.
      image:
        type: string
        description: Image URL representing the badge.
        
  BadgeCreated:
    type: string
    properties:
      url:
        type: string
        description: Unique URL to access the new badge created.

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
