    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="layout.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                <a href="/">gamificationapiwebsitedemo</a>
            </h3>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content class="md-blue-grey-theme" flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
        </ui-view>
    </md-content>
